<div class="card">
    <div class="type-task">
        <p>{{ task.type }}</p>
    </div>
    <div class="content">
        <h3>{{ task.title }}</h3>
    </div>
    <div class="action-buttons">
        <button [routerLink]="['/update-task', task.id]">
            <i class="fa-regular fa-pen-to-square"></i>
            <p>Editar</p>
        </button>
        <button>
            <i class="fa-solid fa-trash"></i>
            <p (click)="deleteTask()">Excluir</p>
        </button>
        <button>
            <i class="fa-regular fa-square-check"></i>
            <p>Concluir</p>
        </button>
    </div>
</div>