<app-header title="Atualizar Tarefa"></app-header>

<form class="add-task-form">
    <div class="input-group">
        <label for="title-input">Título</label>
        <input type="text" id="title-input" [value]="task.title">
    </div>

    <div class="select-box">
        <select name="type" id="type" [value]="task.type">
            <option value="personal">Pessoal</option>
            <option value="corporative">Corporativo</option>
            <option value="student">Estudantil</option>
        </select>
    </div>
    <button>Adicionar</button>
</form>