<app-header title="Atualizar Tarefa"></app-header>

<form [formGroup]="updateForm" class="update-task-form">
    <div class="input-group">
        <label for="title-input">Título</label>
        <input type="text" id="title-input" [value]="task.title" formControlName="title">
    </div>

    <div class="select-box">
        <select name="type" id="type" formControlName="type">
            <option [selected]="task.type === 'Pessoal'" value="Pessoal">Pessoal</option>
            <option [selected]="task.type === 'Corporativo'" value="Corporativo">Corporativo</option>
            <option [selected]="task.type === 'Estudantil'" value="Estudantil">Estudantil</option>
        </select>
    </div>
    <button (click)="updateTask()">Atualizar</button>
</form>