<app-header title="Adicionar Tarefa"></app-header>

<form [formGroup]="addTaskForm" class="add-task-form">
    <div class="input-group">
        <label for="title-input">Título</label>
        <input type="text" id="title-input" placeholder="Título" formControlName="title">
    </div>

    <div class="select-box">
        <select name="type" id="type" formControlName="type">
            <option value="Pessoal">Pessoal</option>
            <option value="Corporativo">Corporativo</option>
            <option value="Estudantil">Estudantil</option>
        </select>
    </div>
    <button (click)="addTask()">Adicionar</button>
</form>