.search-form {
    margin: 20px auto;
    max-width: 800px;

    display: flex;
    justify-content: space-between;
    gap: 10px;

    label {
        width: 95%;

        input {
            width: 100%;
            height: 100%;
            padding: 15px;

            background-color: #EDEDED;
            border: none;
            border-radius: 5px;
            outline: none;
        }
    }

    button {
        padding: 15px;
        background-color: #EDEDED;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
    }
}

main {
    padding: 25px;

    .add-task {
        position: absolute;
        top: 20%;
        right: 10px;

        background-color: var(--bg-color);
        width: 30px;
        height: 30px;
        border-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        text-decoration: none;

        i {
            color: #FFF;
        }
    }

    .cards {
        max-width: 800px;
        margin: 0 auto;
        
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        gap: 10px;
    }
}